#tarjeta{
    width: 600px;
    background-color: #efd7be;
}

#contenedor-login{
    height: 100vh;
   
}
body{
    color: #ff0000;
    height: 100vh;
    width: 100%;
}
.fa-2xl{
    color: #fdeac9;
}

#letterstyle{
    color: #ffffff;
}