#tarjeta{
    width: 600px;
    background-color: #efd7be;
}

#contenedor-login{
    height: 100vh;
   
}
body{
    background-image: url(../IMG/img-quinta.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ff0000;
    height: 100vh;
    width: 100%;
}
.fa-2xl{
    color: #fdeac9;
}
