
<nav class="sidebar_nav">
    <a href="#"><i class="bx bx-home-alt-2"></i>Reservaciones</a>
    <a asp-action="ReporteAdmin"><i class="bx bx-briefcase"></i>Reportes</a>
    <a href="#"><i class="bx bx-group"></i>Configuracion</a>

</nav>