/* Estilo para el navbar */
.navbar {
    height: 60px; /* Altura fija para el navbar */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 2;
}

/* Estilo para la sidebar */
.sidebar_nav {
    height: calc(100% - 60px); /* Ajusta la altura para que no se superponga con el navbar */
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 60px; /* Ajusta la posición para que esté debajo del navbar */
    left: 0;
    background-color: #28282c;
    overflow-x: hidden;
    padding-top: 100px;
}

    .sidebar_nav a {
        padding: 16px;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        display: block;
        text-align: justify;
    }

        .sidebar_nav a:hover {
            color: #000000;
            font-weight: 800;
            background-color: #fbf0c6;
            border-radius: 10px;
        }

    .sidebar_nav i {
        margin-right: 5px;
    }

/* Estilo para el contenido principal */
.content_main {
    margin-left: 160px; /* Ajusta el margen izquierdo para que no se superponga con la sidebar */
    margin-top: 80px; /* Ajusta el margen superior para que no se superponga con el navbar */
    font-size: 22px;
    padding: 10px;
}

    .content_main p {
        text-align: justify;
    }

.fa-2xl {
    color: #fdeac9;
}

.container {
    /* Puedes agregar estilos adicionales aquí si es necesario */
}
