

/* Estilo para la sidebar */
.sidebar_nav {
    position: fixed;
    top: 5.6%;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #28282c;
    padding-top: 20px;
    padding-top: 20px;
}

    .sidebar_nav a {
        padding: 16px;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        display: block;
        text-align: justify;
    }

        .sidebar_nav a:hover {
            color: #000000;
            font-weight: 800;
            background-color: #fbf0c6;
            border-radius: 10px;
        }

    .sidebar_nav i {
        margin-right: 5px;
    }

/* Estilo para el contenido principal */
.content_main {
    margin-left: 160px; /* Ajusta el margen izquierdo para que no se superponga con la sidebar */
    margin-top: 80px; /* Ajusta el margen superior para que no se superponga con el navbar */
    font-size: 22px;
    padding: 10px;
}

    .content_main p {
        text-align: justify;
    }

.fa-2xl {
    color: #fdeac9;
}


