@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Inicio_Usuario.css" asp-append-version="true" />

<div class="container" id="texto-grande">
    <div class="row">
        <div class="col">
            <h1>Inicio</h1>
            <h2>Bienvenido a nuestra página de renta de quintas.</h2>
        </div>
        <div class="col">
            <a class="nav-link btn btn-outline-dark" asp-area="" asp-controller="Quintums" asp-action="Index_Usuario">Quintas</a>
        </div>
    </div>
</div>