@{
    ViewData["Title"] = "Admin Reservaciones";
}


    <nav class="sidebar_nav">
    <a asp-action="Conf_Reservaciones"><i class="bx bx-home-alt-2"></i>Reservaciones</a>
    <a asp-action="ReporteAdmin"><i class="bx bx-briefcase"></i>Reportes</a>

    <a asp-action="Admin_Conf"><i class="bx bx-group"></i>Quinta</a>
    </nav>

<div class="content_main d-flex flex-column align-items-center mt-7">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 w-100 mb-4">
                <div class="card bg-dark" data-bs-theme="dark">
                    <div class="card-body">
                        <input type="text" alt="Nuevo numero de telefono" />
                    </div>
                </div>
            </div>
            <div class="col-12 w-100 mb-4">
                <div class="card bg-dark" data-bs-theme="dark">
                    <div class="card-body">
                        <input type="text" alt="Nuevo correo" />
                    </div>
                </div>
            </div>
            <div class="col-12 w-100 mb-4">
                <div class="card bg-dark" data-bs-theme="dark">
                    <div class="card-body">
                        <input type="text" alt="Nueva Direccion" />
                    </div>
                </div>
            </div>
            <div class="col-12 w-100 mb-4">
                <div class="card bg-dark" data-bs-theme="dark">
                    <div class="card-body">
                        <input type="text" alt="Nuevo nombre" />
                    </div>
                </div>
            </div>
            <div class="col-12 w-100 mb-4">
                <div class="card bg-dark" data-bs-theme="dark">
                    <div class="card-body">
                        <input type="text" alt="Redes nuevas"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>