@{
    ViewData["Title"] = "Admin Index";
}



    <nav class="sidebar_nav">
        <a href="#"><i class="bx bx-home-alt-2"></i>Reservaciones</a>
        <a asp-action="ReporteAdmin"><i class="bx bx-briefcase"></i>Reportes</a>
        <a href="#"><i class="bx bx-group"></i>Configuracion</a>
    </nav>
    <div class="content_main">
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-primary py-2">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Earnings (monthly)</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>$40,000</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>

         </div>
    </div>