@{
    ViewData["Title"] = "Admin Index";
}


    <nav class="sidebar_nav">
    <a asp-action="Conf_Reservaciones"><i class="bx bx-home-alt-2"></i>Reservaciones</a>
        <a asp-action="ReporteAdmin"><i class="bx bx-briefcase"></i>Reportes</a>
    <a href=""><i class="bx bx-group"></i>Configuracion</a>
        <a href="#"><i class="bx bx-group"></i>Quinta</a>
    
    </nav>

<div class="content_main d-flex flex-column align-items-center mt-7">
        <h2>¡Hola Admin!</h2>
    
    <!--Tarjetas-->
    <div class="card mb-3 w-75">
        <div class="card-body">
            <p class="mb-0">HAY UNA RESERVA PARA ESTE DÍA: <strong>25-11-2024</strong>, XX:XXpm</p>
        </div>
    </div>

    <div class="card mb-3 w-75">
        <div class="card-body">
            <p class="mb-0">HAY UNA RESERVA PARA ESTE DÍA: <strong>25-11-2024</strong>, XX:XXpm</p>
        </div>
    </div>

</div>
