@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Admin Index";
}
<link rel="stylesheet" href="CSS/Configuration_users.css">
<div class="d-flex">
    <!-- Barra de navegación vertical -->
    <div>
        <nav class="sidebar_nav">
            <a href="#"><i class="bx bx-home-alt-2"></i>inicio</a>
            <a href="#"><i class="bx bx-briefcase"></i>Inicio</a>
            <a href="#"><i class="bx bx-group"></i>Inicio</a>
            <a href="#"><i class="bx bx-contact"></i>Inicio</a>
        </nav>
    </div>

    <!-- Contenido principal -->
    <div class="container-fluid">
        <h1>Bienvenido al Panel de Administración</h1>
        <p>Selecciona una opción del menú de la izquierda para comenzar.</p>
    </div>
</div>


